#WebCrawler
requests_html
lxml_html_clean
requests
PyPDF2

#PageScraper
bs4

#DB
chromadb
sentence_transformers

#LLM
langchain
langchain-community
llama-cpp-python

#Chatbot
streamlit
bcrypt

#ChromaViewer
pandas